# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# HuggingFace
.cache/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log